#topicContainer{
  display:flex;
  flex-direction:row;
  flex-grow:1;
  justify-content:flex-end;
  align-items:stretch;
  align-content:center;
  text-align: center;
  margin:0;
  background-color:coral;
  color:white;
  font-weight:bold;
  min-width: 8em;
  flex: 1;
  height:100%;
}

h4{
  display:flex;
  padding: 0em 2em 0 2em;
  flex-grow:1;
  align-content:center;
  align-items:center;
}

#topicPopupContainer {
  flex:1;
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:stretch;
  align-content:flex-start;
  text-align:left;
  background-color: white;
  overflow: hidden;
  color: #666666;
  min-width:90vmin;
  font-weight:normal;
  flex-grow:1;
  margin:0 0 0 0;
  height:101%;
}

#topicPopupTitle {
  display:flex;
  margin: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: coral;
  color: white;
  font-weight: bold;
  max-width:6em;
  flex-grow:1;
}

#topicMeta{
  font-size:8pt;
}

#topicPopupContent{
  padding: 0.5em;
  font-size: 8pt;
  display:flex;
  flex-direction:column;
  overflow:auto;
}

#topicLink{
  margin-bottom:0.3em;
}

#topicAbout{
  font-size:12pt;
  padding-top:0;
  margin-top:0;
}

#header{
  display:flex;
  flex-direction:row;
  align-items:baseline;
}

#topicUser{
  font-size:10pt;
  margin-bottom:0.2em;
}