<ul class="posts">
  <li *ngFor="let post of posts">
    <div id="postHead" [style.backgroundColor]="post.backgroundColor">
      <app-vote [votes]="post.votes"></app-vote>
      <div id="postInfo">
        <div id="postUser">
          <app-user [selectedUser]="post.submittedBy"></app-user>
          <p id="timeCreated">submitted this on {{post.timeCreated}}.</p>
        </div>
        <h3 id="postTitle">{{post.title}}</h3>
        <button id="postButton" (click)="toggleContent( post )">{{post.buttonText}}</button>
      </div>
      <app-topic [selectedTopic]="post.topic"></app-topic>
    </div>
    <div id="postBodyContainer" *ngIf="post.contentOn === true" [style.backgroundColor]="post.backgroundColor">
      <p id="postBody">{{post.content}}</p>
    </div>
    <div *ngIf="post.contentOn === false"></div>
  </li>
</ul>
